.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .logo img,
  .user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .search-bar {
    flex: 1; /* Fill remaining space */
    text-align: center; /* Align text in the center */
  }
  
  .search-bar input {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  